extends ../../layout/index

block title

    title #{title}
    link(rel='stylesheet', href='../../assets/css/PlugInfo.css')

block content
    #app
        .PlugInfo PlugInfo

block script
    script(src="../../assets/js/page/PlugInfo.js")
