.main
    .logo
      img(src="../../assets/img/project_1.png")
    h3 Easy Project
    p 一款前端工程化项目的GUI管理工具，能够一键导入本地的前端项目，帮助您将零碎零散的前端项目统一化管理和配置。

    h3 功能列表
    ul
        li 支持实时解析项目的开发和正式环境依赖，通过简洁的页面展示给开发者，开发者可以通过鼠标操作，对依赖包进行一键升级，删除，更新到指定版本，查看依赖包的详情和使用文档等。
        li 支持自动解析项目的运行命令，通过鼠标快速点击实现项目的运行，停止，查看终端日志，点击终端日志打开网页链接。
        li 能够查看项目的CPU，内存等内存占用情况，项目依赖关系分析等，最大限度用简单的方式去避免开发者频繁打开各种命令行窗口，输入各种命令，在无数的命令行窗口中迷失自我的尴尬情况。
        li 能够对项目进行个性化的设置，可以通过负载均衡最大限度发挥电脑的性能来提高我们前端项目的访问速度，一键中止被恶意占用的端口，在项目仪表盘中一键添加常用命令，设置开机自启，夜间模式，切换主题，查看最新技术文章等等等...

    //h3 项目概览
    //ul
    //    li
    //      a() Github: http://github.com/helpcode